<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
        <style>
       
        #m_header{height:100px;width:100%;background-color:rgb(239, 132, 245)}
        #m_name{font-family:Harlow Solid Italic;font-weight:bolder;font-size:80px;margin-top:10px;margin-left:280px;color:rgb(249, 251, 252);margin-right:150px;}
        input{font-family:sans-serif;font-size:25px;margin-left:47px;padding-top:10px;width:250px;height:45px}
        .m_category{border-color:white;border-radius:5%}
        .m_category:hover{border-radius:500px;border-width:2px}
        .m_name{color:rgb(213, 59, 221);font-family:'Courgette',cursive;font-size:45px;font-weight:bolder;text-decoration:none}
        .m_name:hover{text-decoration:underline}
        h1{color:rgb(10,57,95);font-family:'Courgette',cursive;font-size:70px;margin-left:550px}
      
       </style>
      
        </head>
        <body>
     
     <div style="background-color:#d7a9e3ff">
      <div id="m_header">
        <img src="https://ci3.googleusercontent.com/proxy/lRCrXaEfER16aOF8MFKtM4j_2JTlM1EUD72fk5yNbHYLho93ndCbnIYR-9WUoKyFVLNHuG5xDfZGLlSjucTP3PccXmnrFY_f8IWK1BkSfXqoOcYBBwxrg8bRhA=s0-d-e1-ft#https://th.bing.com/th/id/OIP.xECFNAFYASMdEbH-20nwpwHaHa?pid=ImgDet&amp;rs=1" width="80px" height="80px" style="float:left;margin-left:20px;border-radius:50%">
        <span id="m_name"> Fashion Paradise  </span>

          
          <a href="/profile" style="border-radius:80%;margin-right:20px;padding:10px;width:auto;height:90px;font-size:40px;text-decoration:none;background-color:#fffafb;color:black;" >
            <%= result.username[0] %>
          </a>
      
        <a href="/"  style="padding:5px;width:auto;height:50px;font-size:40px;text-decoration:none;background-color:#f9f4f5;color:black;">Logout</a>
        
      </div>
      <div>
        <h1>Clothing</h1>
        <br>
          <img class="m_category" src="https://ci4.googleusercontent.com/proxy/E34MTRaDlgLAyf5O8M1U4Rqm-Gsbp4Ewhdn8zRz3rpTnHA2yQGQnaIEdW7maWUeEOtcSNO7ourRhvV9BxPN4XVh4NNeRrTBz9KiM-P3xcqW1LgGNmncbFvnlEw=s0-d-e1-ft#https://th.bing.com/th/id/OIP.4mQ8Jui7LATLG6KF3ltsZgHaHa?pid=ImgDet&amp;rs=1" width="300px" height="300px" style="margin-left:110px">
            <img class="m_category" src="https://ci6.googleusercontent.com/proxy/SR488CuKXH3Ij5nD7LWPcWAT1Ci2J-1uxlhuQ8Kf2Pf0Mw-Hc9mHe3HYm0vwhYE22nGrlFvgN7HJbXcRNDKzjjReoHePNSczOh7wU2TdZOFf-f5MYXRLf2WpPg=s0-d-e1-ft#https://th.bing.com/th/id/OIP.-9hDq4jCbWUPbmIaRUXK1gHaJ4?pid=ImgDet&amp;rs=1" width="300px" height="300px" style="margin-left:120px">
            <img class="m_category" src="https://ci4.googleusercontent.com/proxy/2g2E4D5r1DtyWfZjA9LRflYn96vulGWeBSgofxWIzvU0VXyw7aLtchIsNKvCjdVlfyaovOhBf9XZDXC1O0bDGM1NFdUtVYuV_xoFQeUDST8lYu7EpejsR51fwg=s0-d-e1-ft#https://th.bing.com/th/id/OIP.NAz6wGzz_fq3oPod_qEZkwHaLH?pid=ImgDet&amp;rs=1" width="300px" height="300px" style="margin-left:120px">
            <br>
            <a href="#m__" class="m_name" style="margin-left:190px" rel="noreferrer"><b>Men</b></a>
            <a href="#m__" class="m_name" style="margin-left:350px" rel="noreferrer"><b>Women</b></a>
            <a href="#m__" class="m_name" style="margin-left:330px" rel="noreferrer"><b>Kids</b></a>          
       </div>
       <br>
       <h1>Fashion Accessories</h1>
        <br>
          <img class="m_category" src="https://ci3.googleusercontent.com/proxy/T98Mfrbe_1pTlS6g43Pe19XiK4On56Dr5GaMNcOYUQmUaNHSDJ9tReT_MAZCEc2u7aBE-mCPiX92uLlruOTuTnajtYKoppcqpzlLhWTdRe9-=s0-d-e1-ft#https://m.media-amazon.com/images/I/61RFCcq-77L._AC_UY675_.jpg" width="300px" height="300px" style="margin-left:110px">
            <img class="m_category" src="https://ci4.googleusercontent.com/proxy/786ZIkKjX65oOK4V_cFoEVBvQ_2h9w_tbwQj5HhMRQHvGMvH1z4fsnf51F3OWXYE8yMVzEbCkNR-g-rKXbyTRb-7yuKP_Z-c9H9wKtofMtmM3p01nUDTPA96MZoXmYSeho1m1Bhl4-pw69ztYCaBMSZXoDTMWte2OHk9Omnu=s0-d-e1-ft#https://i5.walmartimages.com/asr/1ecb01bc-c479-41cc-99ec-1085b4401321.559c6010ac5d8121e39ece6a2316c1e5.jpeg" width="300px" height="300px" style="margin-left:120px">
            <img class="m_category" src="https://ci3.googleusercontent.com/proxy/aGKDurVVcrlhgqfm_A27lNIDRP0EucKX_UQ_tcsLuKT4u2OBlrbCzU65bTvZe6kpxeVnitfjOqwx_zlwq60s4VJuf-HYzA=s0-d-e1-ft#https://m.media-amazon.com/images/I/31h41FmjAML.jpg" width="300px" height="300px" style="margin-left:130px">
            <br>
            <a href="#m__" class="m_name" style="margin-left:190px" rel="noreferrer">Handbags</a>
            <a href="#m__" class="m_name" style="margin-left:280px" rel="noreferrer">Shoes</a>
            <a href="#m__" class="m_name" style="margin-left:280px" rel="noreferrer">Glasses</a>    
            <br><br><br><br>   
            <img class="m_category" src="https://ci5.googleusercontent.com/proxy/5YmXnaHSWArTHt8EszsxP1xnRtDzRuaV8r1KB9uzHsQ7tzFmUGdq624l4DCyCpKxBGlxJrxk5KqxWWck7GLdLOTFwu8edQ=s0-d-e1-ft#https://m.media-amazon.com/images/I/51L7tmfsV5L.jpg" width="300px" height="300px" style="margin-left:110px">
            <img class="m_category" src="https://ci4.googleusercontent.com/proxy/f0l6ifHxkgAAMchc4UMWRIsIUCImRc-rD0Pzbt-ClYtuqTtXzq8KIZFDn6A3yXvYPl5LAaLUk4j9UnMjWg9G8aeHfKRn3Q=s0-d-e1-ft#https://m.media-amazon.com/images/I/413AXspZZxL.jpg" width="300px" height="300px" style="margin-left:120px">
            <img class="m_category" src="https://ci6.googleusercontent.com/proxy/EqLOyXlplAvXbDlz_9qmblW3giRWaWm7chiHHcMhIuRHvjaCsrMjc6JdvJkrp4num9EiRbZ_FMXfBW6FzXeVO6p7qtC7hg=s0-d-e1-ft#https://m.media-amazon.com/images/I/51skg53y0BL.jpg" width="300px" height="300px" style="margin-left:130px">
            <br>
            <a href="#m__" class="m_name" style="margin-left:190px" rel="noreferrer">Hats</a>
            <a href="#m__" class="m_name" style="margin-left:350px" rel="noreferrer">Belts</a>
            <a href="#m__" class="m_name" style="margin-left:320px" rel="noreferrer">Gloves</a> 
            <br><br>   <br><br>   
            <img class="m_category" src="https://ci5.googleusercontent.com/proxy/mt3jMMyP5GE4WQYNoCeQniLNMDIqOeE5R9Ynvg4d2fG0lJWoDYqwgcG6XICPDZsmY1eYtBLBDW2OH4yypYLTqBGtAvX5bg=s0-d-e1-ft#https://m.media-amazon.com/images/I/31c9QLc4irL.jpg" width="300px" height="300px" style="margin-left:110px">
            <img class="m_category" src="https://ci6.googleusercontent.com/proxy/8MHFR7ytpBqYK5Z9cTch5BYUpY39vTjir-M_WeRwpXE5ZPGzjDmqBWGk2Nq_eNYI5GbNf7HLvot4hjCUeagBmgoLZvasVg=s0-d-e1-ft#https://m.media-amazon.com/images/I/41ZIjCOXWlL.jpg" width="300px" height="300px" style="margin-left:120px">
            <img class="m_category" src="https://ci6.googleusercontent.com/proxy/BCEpXsS09T1If2NDxgRCpmxrII-81__mpAywnyU3hY5viPk_QXO7hBUufgKzlFYrmjfT32Q9gl4IZPaeF5e8RBAmN_T8Jg=s0-d-e1-ft#https://m.media-amazon.com/images/I/41tvsh3aCSL.jpg" width="300px" height="300px" style="margin-left:130px">
            <br>
            <a href="#m__" class="m_name" style="margin-left:170px" rel="noreferrer">Necklaces</a>
            <a href="#m__" class="m_name" style="margin-left:250px" rel="noreferrer">Bracelets</a>
            <a href="#m__" class="m_name" style="margin-left:270px" rel="noreferrer">Watches</a> 
      </div>
      <div>
        <h1>Today's Big Deals</h1>
        <br>
          <img class="m_category" src="https://ci4.googleusercontent.com/proxy/jfKwI9l42b8KwKiLtozzpfer9ec3nDg4ZAAy9V21iroZkERgf7l3qWkU1GOs8zZWDch-6H5pYLwLMcY8rc3SElByBa6RpHQgtLKslWpyWvFB1HmtfQEgC0WV_w=s0-d-e1-ft#https://th.bing.com/th/id/OIP.WCjQERmwObosZ4gM4d1lOAHaD4?pid=ImgDet&amp;rs=1" width="300px" height="300px" style="margin-left:110px">
            <img class="m_category" src="https://ci4.googleusercontent.com/proxy/QXtdbfxdKaxABtYmnbd-MXBaMpjryTCsMC0MZrSKTGPDOd_tAOg621ZCqscm6VGnL8BSEg2wdW7ADSNP_QQdtbfMv-Aoz9xgeEpOwEd0xF9iwUPKQnB-btpyWw=s0-d-e1-ft#https://th.bing.com/th/id/OIP.fVEDtmAa5U5kR1BJ8GwYlwHaHa?pid=ImgDet&amp;rs=1" width="300px" height="300px" style="margin-left:120px">
            <img class="m_category" src="https://ci5.googleusercontent.com/proxy/gKdGDJYngFeu_ZyEkeuDnJSjzuOVi0iKJVysPREk7k3gGdGWnyuQGxuFCqqk8e489XT_E-qj5HCzytsx_Nsc_1giehiTSIqhcjVdZct1xhfpG-yhnZ06TopXOQ=s0-d-e1-ft#https://th.bing.com/th/id/OIP.-02bfEHVBNfkcINlVhSWSAHaHa?pid=ImgDet&amp;rs=1" width="300px" height="300px" style="margin-left:120px">
            <br>
            <a href="#m__" class="m_name" style="margin-left:140px;font-size:20px" rel="noreferrer">Upto 30% off</a>
            <a href="#m__" class="m_name" style="margin-left:310px;font-size:20px" rel="noreferrer"><del>Rs300</del>  Rs199</a>
            <a href="#m__" class="m_name" style="margin-left:350px;font-size:20px" rel="noreferrer">Upto 20% off</a>          
        
      </div>
      <br><br>
      
    
</body></html>